html, body {
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 60rem;
  margin: auto;
}

body {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* user-journeys {
  display: grid;
}

user-journey {
  display: grid;
  grid-template-rows: 2em 1fr;
}

user-journey-steps {
  display: grid;
  grid-auto-flow: column;
} */


database-view {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

database-view table {
  width: 100%;
  position: sticky;
  top: 0.5em;
}

database-view table thead {
  text-decoration: underline;
  font-weight: bold;;
}

output {
  margin-left: 0.25em;
}

td {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
